{
  "presets": [
    "react",
    ["env", {
      "targets": { "node": "4.1" },
      "loose": true,
      "modules": "commonjs"
    }]
  ],
  "plugins": [
    "transform-class-properties",
    "transform-object-rest-spread",
    "remove-comments"
  ]
}
