{
  "extends": [
    "plugin:flowtype/recommended",
    "google",
    "plugin:react/recommended"
  ],
  "plugins": [
    "flowtype"
  ],
  "rules": {
    "max-len": [2, 100, 2]
  },
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "ecmaVersion": 2016,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "es6": true,
    "browser": true,
    "node": true,
    "jest": true
  },
  "globals": {
    "firebaseUi": true,
    "uiConfig": true,
    "jQuery": true,
    "swal": true,
    "latinize": true,
    "componentHandler": true,
    "friendlyPix": true,
    "page": true,
    "ga": true,
    "firebase": true,
    "gapi": true
  }
}
